{% extends "AppAppBundle::layout.html.twig" %}

{% block body %}

<div id="templatemo_main">

<p><a href="{{path('product')}}" title="">
    Tout sur les pages
</a></p>

<p><a href="{{path('menu')}}" title="">
    Tout sur les menus 
</a></p>

<p><a href="{{path('footer')}}" title="">
    Tout sur le pied de page 
</a></p>

<p><a href="{{path('contact_view')}}" title="">
    Voir les contacts
</a></p>

<p><a href="{{path('frontbox')}}" title="">
    Tout sur les frontbox(les contenus principaux de la page d'accueil)
</a></p>

<p><a href="{{path('frontbottom')}}" title="">
    Tout sur les frontBottom(les contenus du bas de la page d'accueil)
</a></p>

<p><a href="{{path('slider')}}" title="">
    Tout sur le slider(uniquement sur la page d'accueil)
</a></p>

<p><a href="{{path('toptext')}}" title="">
    Tout sur le Toptext(uniquement sur la page de contact)
</a></p>


<p><a href="{{path('logout')}}" title="">
    <div style="background-color:yellow;margin-top:50px;padding:5px;width:150px;">Se déconnecter</div>
</a></p>

</div>
{% endblock %}