{% extends "AppAppBundle::layout.html.twig" %}
{% block slider %}
    <div id="slider_wrapper">
        <div id="slider">
        {% for slider in sliders %}
            <img src="{{ asset('uploads/img/') }}{{ slider.image.url }}" alt="" title="{{ slider.title }}" />
        {% endfor %}
        </div>
    </div>
    <!-- end of slider -->
{% endblock %}
{% block body %}
    
    <div id="templatemo_main">
    
        <div class="col_w900">
        {% for frontBox in frontBoxs %}
            <div class="col_allw280 frontpage_box col_last frontpage_added_style">
                <h2>{{ frontBox.title }}</h2>
                <span class="tagline">{{ frontBox.subtitle }}</span>
                <img src="{{ asset('uploads/img/') }}{{ frontBox.image.url }}" alt="Image" class="frontpage_box_img" />
                <p>{{ frontBox.text }}</p>
                <a class="more" href="{{ path('app_app_product', {'slug':frontBox.link}) }}">Voir Plus</a>
            </div>
        {% endfor %}
        <div class="cleaner"></div>
        </div>

        <div class="col_w900 col_w900_last">
            
        {% for frontBottomL in frontBottomsL %}
          <div class="col_w420 float_l">
              <h2>{{ frontBottomL.title }}</h2>
                <p>{{ frontBottomL.text }}</p>
                <a class="more" href="{{ frontBottomL.link }}">More</a>
          </div>
        {% endfor %}

        {% for frontBottomR in frontBottomsR %}
            <div class="col_w420 float_r">
                <h2>{{ frontBottomR.title }}</h2>
                    <p>{{ frontBottomR.text }}</p>
                    <a class="more" href="{{ frontBottomR.link }}">More</a>
            </div>
            <div class="cleaner"></div>
        {% endfor %}

        <div class="cleaner"></div>
            
        </div>
        
      <div class="cleaner"></div>
      
      <span class="bottom"></span>      </div> 
    <!-- end of main -->

</div> <!-- end of templatemo_wrapper -->
{% endblock %}
